@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins',sans-serif; 
}

body{
    background: #081b29;
    color: #ededed;
}
.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 55%;
    background-image: url('/assests/kowsi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 500px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700px;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 20px;
}
.home-content .btn-box{
    width: 345px;
    height: 50px;
}
.btn-box a{
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.btn-box a:hover{
    background: #00abf0;
    color: #081b29;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    bottom: 80px;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}
.heading{
    font-size:5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
     color: #00abf0;
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 80%;
    border-radius: 50%;
    height: 350px;
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #081b29;
    border-bottom: .2rem solid #081b29;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap:wrap;
    gap: 5rem;
    width: 90%;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid #00abf0;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
}
.education-content .content .year{
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #ededed;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: #ededed;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid black;
}
img:hover{
    transform:scale(1.2);
}
.content a {
    display: block;
    overflow: hidden; 
}
section.Skills {
    padding: 40px;
}

h1 {
    color: aqua;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.skill-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    width: 30%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.skill p {
    color: #666;
}